.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-4);
  background-color: #475569;
  border-radius: var(--radius-lg);
  width: fit-content;
  max-width: 100%;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
    width: 100%;
  }
}
