@layer default {
  .pageGridContainer {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1600px) 1fr;
    justify-content: center;
    min-height: 100%;
  }
  .mainContent {
    grid-column: 2 / 3;
    padding-top: 120px;
  }
}
