.container {
  font-size: 72px;
  color: green;
}

.facePalm {
  font-size: 72px;
  color: red;
  max-width: 400px;
} 

.banner {
  color: white;
  font-size: 36px;
  width: 400px;
  text-align: center;
  margin-top: 20px;
}