@layer reset, default, themes, gallery, modules, components, utilities;

@import url('node_modules/normalize.css/normalize.css') layer(reset);
@import url('react-image-gallery/styles/css/image-gallery.css') layer(gallery);

:root {
  /* colors */
  --clr-white: hsl(220, 37%, 100%);
  --clr-surface: hsl(240, 5%, 89%);
  --clr-text: hsl(244, 44%, 14%);

  /* font weights */
  --fw-light: 200;
  --fw-regular: 500;
  --fw-bold: 600;
  --fw-black: 700;

  /* font sizes */
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 2.25rem;
  --font-size: 16px;

  @media (prefers-color-scheme: dark) {
    --clr-surface: hsl(240, 5%, 15%);
    --clr-text: hsl(240, 5%, 90%);
  }
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--fw-regular);
  font-weight: var(--fw-regular);
  background-color: var(--clr-surface);
  height: 100dvh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
