@layer modules {
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .facePalmImage {
    width: 500px;
    border-radius: 8px;
  }

  .facePalmCaption {
    margin-top: 2rem;
    border-radius: 8px;
  }
}
