@layer modules {
  .homeContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding-block-start: 80px;
    justify-content: center;
    align-items: start;
  }

  .facePalmImage {
    width: 400px;
    border-radius: 8px;
  }
}
